{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": [
    "eslint:all",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/all",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/all",
    "plugin:react/jsx-runtime",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/all",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "project": [
      "./tsconfig.json"
    ],
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "jsx-a11y",
    "react",
    "react-hooks",
    "simple-import-sort",
    "sonarjs",
    "prettier"
  ],
  "root": true,
  "rules": {
    "jsx-a11y/media-has-caption": "off",
    "@next/next/no-img-element": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/lines-between-class-members": "error",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-confusing-void-expression": "error",
    "@typescript-eslint/no-empty-function": "error",
    "@typescript-eslint/no-empty-interface": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-extraneous-class": "error",
    "@typescript-eslint/no-magic-numbers": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/no-type-alias": "off",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-return ": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "accessor-pairs": "error",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "capitalized-comments": "off",
    "class-methods-use-this": "error",
    "complexity": [
      "error",
      10
    ],
    "unicorn/no-abusive-eslint-disable": "off",
    "consistent-return": "off",
    "curly": "error",
    "default-case": "error",
    "dot-notation": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "func-style": "off",
    "guard-for-in": "error",
    "id-length": "error",
    "import/extensions": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-unresolved": "error",
    "import/order": "off",
    "import/prefer-default-export": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-depth": "error",
    "max-len": [
      "error",
      {
        "code": 80,
        "comments": 80,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true,
        "tabWidth": 2
      }
    ],
    "max-lines-per-function": "error",
    "max-statements": "error",
    "multiline-comment-style": "off",
    "new-cap": "off",
    "no-alert": "error",
    "no-caller": "error",
    "no-console": "off",
    "no-continue": "error",
    "no-debugger": "error",
    "no-div-regex": "error",
    "no-duplicate-imports": "off",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "off",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-magic-numbers": "off",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-plusplus": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-template-curly-in-string": "error",
    "no-ternary": "off",
    "no-undefined": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "error",
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "caughtErrors": "none",
        "ignoreRestSiblings": true
      }
    ],
    "no-useless-constructor": "error",
    "one-var": "off",
    "prefer-const": "error",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSameLine": true,
        "bracketSpacing": true,
        "endOfLine": "lf",
        "htmlWhitespaceSensitivity": "strict",
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "always",
        "quoteProps": "as-needed",
        "semi": true,
        "singleAttributePerLine": false,
        "singleQuote": false,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ],
    "quotes": [
      "error",
      "double"
    ],
    "radix": "error",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/button-has-type": "error",
    "react/display-name": "error",
    "react/forbid-component-props": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "children": "never",
        "props": "never"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react/jsx-fragments": [
      "error",
      "syntax"
    ],
    "react/jsx-key": "off",
    "react/jsx-max-depth": [
      "error",
      {
        "max": 5
      }
    ],
    "react/jsx-no-bind": "off",
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-no-literals": "off",
    "react/jsx-no-undef": "error",
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-multi-spaces": "error",
    "react/jsx-props-no-spreading": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "ignoreCase": true,
        "shorthandFirst": true
      }
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "react/jsx-uses-react": "error",
    "react/no-array-index-key": "off",
    "react/no-children-prop": "error",
    "react/no-danger-with-children": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-this-in-sfc": "error",
    "react/no-unescaped-entities": "error",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "error",
    "react/self-closing-comp": "off",
    "react/void-dom-elements-no-children": "error",
    "semi": [
      "error",
      "always"
    ],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "sonarjs/cognitive-complexity": "error",
    "sonarjs/no-duplicate-string": "error",
    "sonarjs/no-empty-collection": "error",
    "sonarjs/no-redundant-jump": "error",
    "sonarjs/prefer-immediate-return": "error",
    "sort-imports": "off",
    "spaced-comment": "off",
    "strict": "error",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-array-reduce": "error",
    "unicorn/no-keyword-prefix": "off",
    "unicorn/no-negated-condition": "error",
    "unicorn/no-null": "off",
    "unicorn/no-useless-undefined": "off",
    "unicorn/prefer-at": "error",
    "unicorn/prefer-dom-node-dataset": "error",
    "unicorn/prefer-event-target": "error",
    "unicorn/prefer-number-properties": "error",
    "unicorn/prefer-spread": "error",
    "unicorn/prefer-ternary": "error",
    "unicorn/prefer-top-level-await": "error",
    "unicorn/prevent-abbreviations": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts"
        ]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
