div.root {
  background-color: var(--dictionary-bg);
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  margin-bottom: 6rem;
}

span.divider {
  background-color: var(--divider-color);
  display: block;
  height: 0.1rem;
  width: 100%;
}