h1.word {
  color: var(--phonetic-word-tc);
  font-family: var(--ff);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  grid-area: word;
  line-height: 3.9rem;
}

h2.phonetic {
  color: var(--phonetic-tc);
  font-family: var(--ff);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  grid-area: phonetic;
  line-height: 2.4rem;
  margin-top: auto;
}

svg.play {
  color: var(--phonetic-play-fill);
  grid-area: play;
  height: 4.8rem;
  width: 4.8rem;
  z-index: 2;

  &:focus,
  &:hover {
    cursor: pointer;
  }
}