div.root {
  column-gap: 1.6rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: max-content 1fr;
}

h1.synonym {
  color: var(--synonym-tc-1);
  font-family: var(--ff);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  grid-column: 1;
  line-height: 1.9rem;
}

div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;

  p.synonym {
    color: var(--synonym-tc-2);
    display: inline-block;
    font-family: var(--ff);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.9rem;
    width: max-content;

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }
}